form{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
}
textarea, input{
    border: none;
    background-color: #F4F4F4;
    border-radius: 0.5rem;
    font-family: 'Roboto',
    sans-serif;
    font-weight: 300;
}
.alert{
    border-radius: 0.5rem !important;
    font-size: 0.9rem;
}