@import "../../styles.css";
header{
    min-width: 100%;
    font-family: 'Rochester', cursive;
    color: var(--primary-green);
    background-color: var(--dark-grey);
    position: relative;
}
header>h1{
    font-size: 4rem;
}

.quote,
.author {
  font-family: 'Montserrat', sans-serif;
}

.author {
  font-style: italic;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: fit-content;
}

.vote {
  display: flex;
  flex-wrap: nowrap;
}

.upvote,
.downvote {
  display: flex;
  ;
  font-family: 'Roboto', sans-serif;
  color: var(--dark-grey);
}

.upvote fa-icon {
  color: var(--primary-green);
  transition: linear 100ms;
}

.downvote fa-icon {
  color: var(--accent-red);
  transition: linear 100ms;
}

.actions {
  display: flex;
  flex-wrap: nowrap;
}

.delete {
  color: var(--accent-red);
  opacity: 0.6;
  transition: linear 100ms;
}

.displayDetails {
  color: var(--primary-green);
  opacity: 0.6;
  transition: linear 100ms;
}

.delete:hover,
.displayDetails:hover,
fa-icon:hover {
  opacity: 1;
  transform: scale(1.2);
}

.card {
  padding-bottom: 0 !important;
}
.new{
    position: sticky;
    bottom: 0;
}
.new-quote{
    background-color: var(--primary-green);
    border: none;
    border-radius: 0.7rem 0.7rem 0 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}
#form{
    border-radius: 0 0 0.7rem 0.7rem !important;
}