@import "~bootstrap/dist/css/bootstrap.css";
@import url(https://fonts.googleapis.com/css?family=Rochester:regular);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

:root {
    --primary-green: #76D17F;
    --accent-red: #e24c5b;
    --dark-grey: #2c2c2c;
}
body,*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.card {
  border: none;
  box-shadow: 0 0 30px rgba(81, 81, 81, 0.25);
  border-radius: 0.7rem;
  color: var(--dark-grey);
  transition: linear 200ms;
}
.card:hover{
    transform: scale(1.025);
    box-shadow: 0 0 50px rgba(81, 81, 81, 0.25);
}

/* Badge CSS from Bootstrap */
.badge:empty {
  display: none;
}

.btn .badge {
  position: relative;
  top: -1px;
}

a.badge:focus,
a.badge:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

.badge-default {
  background-color: #636c72;
}

.badge-default[href]:focus,
.badge-default[href]:hover {
  background-color: #4b5257;
}

.badge-primary {
  background-color: #0275d8;
}

.badge-primary[href]:focus,
.badge-primary[href]:hover {
  background-color: #025aa5;
}

.badge-success {
  background-color: #5cb85c;
}

.badge-success[href]:focus,
.badge-success[href]:hover {
  background-color: #449d44;
}

.badge-info {
  background-color: #5bc0de;
}

.badge-info[href]:focus,
.badge-info[href]:hover {
  background-color: #31b0d5;
}

.badge-warning {
  background-color: #f0ad4e;
}

.badge-warning[href]:focus,
.badge-warning[href]:hover {
  background-color: #ec971f;
}

.badge-danger {
  background-color: #d9534f;
}

.badge-danger[href]:focus,
.badge-danger[href]:hover {
  background-color: #c9302c;
}